$bg_card:#fefffe;
$bg_body: #c5e4e7;
$bg_input: #f3f8fb;
$bg_outputcard: hsl(183, 100%, 15%);
$color_numberLight: hsl(171, 69%, 44%);
$color_numberDark: hsl(180, 8%, 37%);
$bg_tip_selected: hsl(180, 9%, 53%);
$bg_button_hover: hsl(172, 61%, 75%);
$bg_button: hsl(183, 78%, 23%);
$border_input: hsl(172, 35%, 45%);
$color_error: hsl(11, 44%, 59%);

  body {
    background-color: $bg_body;
    font-size: larger;
    text-decoration: underline;
    background-color: $bg_input;
  
  }

input[type="number"] {
  display: block;
  width: 90%;
  padding: 0.3em;
  font-family: "Space Mono", monospace;
  font-size: 1.1rem;
  font-weight: 700;
  color: $color_numberDark;
  text-align: end;
  border: 3px solid transparent;
  border-radius: 5px;
  outline: none;
}

body header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

body main{
  display: block;
  width: 60%;
  height: 100%;
  MARGIN: AUTO;
  PADDING: 0;
}

body main .splitter-body{
  display: flex;
  margin-top: 2em;
  padding: 1em;
  width: 100%;
  height: 50%;
  font-family: "Space Mono", monospace;
  background-color: $bg_card;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  .splitter-input,
  .splitter-output {
    display: flex;
    flex-direction: column;
  }
  .splitter-input{
    width: 60%; 
    padding: 1em;
    .input-box {
      display: flex;
      flex-direction: column;
      color: $color_numberDark;
    }
  }
}